<%- include ('../../views/_header.ejs') %>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-6" >
      <div class="card" >
        <div class="card-body" >
          <p>
              <font color=#000000 style="font-size:50px">u confirm DELETE Data ??</font>
          </p>
          <div class="form-group" >
            <h3><font color=#0000>id == <%= data.tiewID %></font></h3>
          </div>
            <div class="form-group" >
              <h3><font color=#0000>SCIT611998019 == <%= data.tiewSCIT %></font></h3>
            </div>
            <div class="form-group">
              <h3><font color=#0000>MIROT611998019 == <%= data.tiewMIROT %></font></h3>
            </div>
            <div class="form-group">
              <h3><font color=#0000>ID_tiew == <%= data.ploySCIT %></font></h3>
            </div>
            <div class="form-group">
              <h3><font color=#0000>ID_ploy == <%= data.premSCIT %></font></h3>
            </div>
            <a href="/CE611998019" class="btn btn-success">Back</a>
            <a href="/CE611998019/delete/<%= data.tiewID %>" class="btn btn-danger"> DELETE ? </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('../../views/_footer.ejs') %>
