<%- include ("../_header") %>
    <div class="container mt-6">
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/CE611998019/update/<%= data1.ID %>" method="post">
                            <p>
                                <font color=#000000 style="font-size:50px">Edit Data </font>
                            </p>
                            <div class="form-group">
                                <a>SCIT611998019 - varchar</a>
                                <input type="text" name="SCIT611998019" placeholder="SCIT611998019 - varchar" value="<%= data1.SCIT611998019%>" class="form-control">
                            </div>
                            <div class="form-group">
                                <a>MIROT611998019 - float</a>
                                <input type="text" name="MIROT611998019" placeholder="MIROT611998019 - float" value="<%= data1.MIROT611998019%>" class="form-control">
                            </div>
                            <div class="form-group">
                                <a>ID_ploy- int</a>
                                <select class='form-control' name='ID_ploy'>
                                  <option value="">กรุณาเลือก</option>
                                  <% if(data2){ %>
                                    <% for(var i = 0 ; i < data2.length ; i++){%>
                                      <option value="<%= data2[i].ID %>"
                                        <% if(data2[i].ID==data1.ID_ploy){ %> selected <% }%>
                                        >
                                        <%= data2[i].SCIT601998023 %>
                                      </option>
                                      <% }%>
                                      <% } %>
                                    </select>
                            </div>
                            <div class="form-group">
                                <a>ID_prem - int</a>
                                <select class='form-control' name='ID_prem'>
                                  <option value="">กรุณาเลือก</option>
                                  <% if(data3){  %>
                                    <% for(var j = 0 ; j < data3.length ; j++){%>
                                      <option value="<%= data3[j].ID %>"
                                        <% if(data3[j].ID==data1.ID_prem){ %> selected <% }%>
                                        >
                                        <%= data3[j].SCIT611998005 %>
                                      </option>
                                      <% }%>
                                      <% } %>
                                    </select>
                            </div>
                            <a href="/CE611998019" class="btn btn-outline-secondary">Back</a>
                            <button type="submit" class="btn btn-success">Save Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("../_footer") %>
