<%- include ('../../views/_header.ejs') %>

    <div class="container mt-6">
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p>
                            <font color=#000000 style="font-size:50px">u confirm DELETE User ??</font>
                        </p>
                        <div class="form-group">
                            <h3>
                                <font color=#0000>id ==
                                    <%= data.id %>
                                </font>
                            </h3>
                        </div>
                        <div class="form-group">
                            <h3>
                                <font color=#0000>Username ==
                                    <%= data.username %>
                                </font>
                            </h3>
                        </div>
                        <div class="form-group">
                            <h3>
                                <font color=#0000>Password ==
                                    <%= data.password %>
                                </font>
                            </h3>
                        </div>
                        <a href="/user" class="btn btn-success">Back</a>
                        <a href="/user/delete/<%= data.id %>" class="btn btn-danger"> DELETE ? </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ('../../views/_footer.ejs') %>