<%- include ('../../views/_header.ejs') %>

    <div class="container mt-6">
        <div class="row mt-5">
            <div class="col-md-3">
            </div>
            <div class="col-md-5">
                <% if(session.module1 == 1){%>
                  <h1 align='center'><b> Admin </b></h1>
                    <a href="/user/add" align="" class="btn btn-success btn-lg">Add User</a>
                    <%}else { %>
                      <h1 align='center'><b> User </b></h1>
                  <% }%>
                        <table class="table table-hover">
                            <thead align="center">
                                <tr class="table-active">
                                    <th>No</th>
                                    <th>User</th>
                                    <th>Password</th>
                                    <% if(session.module1 == 1){%>
                                        <th>Do</th>
                                    <%}%>


                                </tr>
                            </thead>
                            <tbody align="center">
                                <% if(data){ %>
                                    <% for (var i = 0; i < data.length; i++) { %>
                                        <tr class="table-active">
                                            <td>
                                                <%= (i+1) %>
                                            </td>
                                            <td>
                                                <%= data[i].username %>
                                            </td>
                                            <td>
                                                <%= data[i].password %>
                                            </td>
                                            <% if(session.module1 == 1){%>
                                            <td>
                                                <a href="/user/del/<%= data[i].id %>" class="btn btn-danger"> DELETE </a>
                                                <a href="/user/edit/<%= data[i].id %>" class="btn btn-info"> UPDATE </a>
                                            </td>
                                            <%}%>
                                        </tr>
                                        <% } %>
                                            <% } %>
                            </tbody>
                        </table>
            </div>
            <div class="col-md-1">


                <%- include ('../../views/_footer.ejs') %>
