<%- include ('../../views/_header.ejs') %>

    <div class="container mt-6">
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/user/save" method="post">
                            <p>
                                <font color=#000000 style="font-size:50px">Add User </font>
                            </p>
                            <div class="form-group">
                                <a>Username</a>
                                <input type="text" name="username" placeholder="Username" class="form-control">
                            </div>
                            <div class="form-group">
                                <a>Password</a>
                                <input type="text" name="password" placeholder="Password" class="form-control">
                            </div>
                            <a href="/user" class="btn btn-danger">Back</a>
                            <button type="submit" class="btn btn-success">Save Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../../views/_footer.ejs') %>
