<%- include ("../_header") %>
    <div class="container mt-6">
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/user/update/<%= data.id %>" method="post">
                            <p>
                                <font color=#000000 style="font-size:50px">Edit User </font>
                            </p>
                            <div class="form-group">
                                <a>Username - varchar</a>
                                <input type="text" name="username" placeholder="username - varchar" value="<%= data.username%>" class="form-control">
                            </div>
                            <div class="form-group">
                                <a>Password - floa</a>
                                <input type="text" name="password" placeholder="password - float" value="<%= data.password%>" class="form-control">

                                <a href="/user" class="btn btn-outline-secondary">Back</a>
                                <button type="submit" class="btn btn-success">Save Update</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include ("../_footer") %>