<%- include ('../../views/_header.ejs') %>

<div class="container mt-6">
  <div class="row mt-5">
    <div class="col-md-6" >
      <div class="card" >
        <div class="card-body" >
          <p>
              <font color=#000000 style="font-size:50px">u confirm DELETE Data ??</font>
          </p>
          <div class="form-group" >
            <h3><font color=#0000>id == <%= data.premID %></font></h3>
          </div>
            <div class="form-group" >
              <h3><font color=#0000>SCIT611998005 == <%= data.SCIT611998005 %></font></h3>
            </div>
            <div class="form-group">
              <h3><font color=#0000>MIROT611998005 == <%= data.MIROT611998005 %></font></h3>
            </div>
            <div class="form-group">
              <h3><font color=#0000>ID_bas == <%= data.ID_bas %></font></h3>
            </div>
            <div class="form-group">
              <h3><font color=#0000>ID_tiew == <%= data.ID_tiew %></font></h3>
            </div>
            <a href="/CE611998005" class="btn btn-success">Back</a>
            <a href="/CE611998005/delete/<%= data.premID %>" class="btn btn-danger"> DELETE ? </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('../../views/_footer.ejs') %>
