<%- include ('../../views/_header.ejs') %>

    <div class="container mt-6">
        <div class="row mt-5">

            <div class="col-md-12">
                <h1 align='center'><b> PREM </b></h1>
                <% if (session.modulece611998005 == 1) { %>
                    <p align='right'><a href="/CE611998005/add" align="" class="btn btn-success btn-lg">ADD</a></p>
                    <% } %>
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-active">
                                    <th>No</th>
                                    <th>SCIT611998005</th>
                                    <th>MIROT611998005</th>
                                    <th>ID_bas</th>
                                    <th>ID_Tiew</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% if(data){ %>
                                    <% for (var i = 0; i < data.length; i++) { %>
                                        <tr class="table-active">
                                            <td>
                                                <%= (i+1) %>
                                            </td>
                                            <td>
                                                <%= data[i].SCIT611998005 %>
                                            </td>
                                            <td>
                                                <%= data[i].MIROT611998005 %>
                                            </td>
                                            <td>
                                                <%= data[i].SCIT611998002 %>
                                            </td>
                                            <td>
                                                <%= data[i].SCIT611998019 %>
                                            </td>
                                            <td>
                                              <% if (session.modulece611998005 == 1) { %>
                                                <a href="/CE611998005/del/<%= data[i].premID %>" class="btn btn-danger"> DELETE </a>
                                                <a href="/CE611998005/edit/<%= data[i].premID %>" class="btn btn-info"> UPDATE </a>
                                                  <% } %>

                                            </td>
                                        </tr>
                                        <% } %>
                                            <% } %>
                            </tbody>
                        </table>
            </div>
            <div class="col-md-1">


                <%- include ('../../views/_footer.ejs') %>
