<%- include ("../_header") %>
    <div class="container mt-6">
        <div class="row mt-5">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">

                            <p>
                                <font color=#000000 style="font-size:50px">Edit Data </font>
                            </p>
                            <form action="/CE611998005/update/<%= data1.ID %>" method="post">
                            <div class="form-group">
                                <a>SCIT611998005 - varchar</a>
                                <input type="text" name="SCIT611998005" placeholder="SCIT611998005 - varchar" value="<%= data1.SCIT611998005%>" class="form-control">
                            </div>
                            <div class="form-group">
                                <a>MIROT611998005 - float</a>
                                <input type="text" name="MIROT611998005" placeholder="MIROT611998005 - float" value="<%= data1.MIROT611998005%>" class="form-control">
                            </div>
                            <div class="form-group">
                                <a>ID_bas- int</a>
                                <select class='form-control' name='ID_bas'>
                                  <option value="">กรุณาเลือก</option>
                                  <% if(data2){ %>
                                    <% for(var i = 0 ; i < data2.length ; i++){%>
                                      <option value="<%= data2[i].ID %>"
                                        <% if(data2[i].ID==data1.ID_bas){ %> selected <% }%>
                                        >
                                        <%= data2[i].SCIT611998002 %>
                                      </option>
                                      <% }%>
                                      <% } %>
                                    </select>
                            </div>
                            <div class="form-group">
                                <a>ID_tiew - int</a>
                                <select class='form-control' name='ID_tiew'>
                                  <option value="">กรุณาเลือก</option>
                                  <% if(data3){  %>
                                    <% for(var j = 0 ; j < data3.length ; j++){%>
                                      <option value="<%= data3[j].ID %>"
                                        <% if(data3[j].ID==data1.ID_tiew){ %> selected <% }%>
                                        >
                                        <%= data3[j].SCIT611998019 %>
                                      </option>
                                      <% }%>
                                      <% } %>
                                    </select>
                            </div>
                            <a href="/CE611998005" class="btn btn-outline-secondary">Back</a>
                            <button type="submit" class="btn btn-success">Save Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("../_footer") %>
