

<%- include("../_header") %>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                  <form action="/CE601998023/delete<%= data.ID %>" method="POST">
                    <h1> ยืนยันที่ต้องการลบข้อมูล </h1>
            <div class="form-group">
                <h3><font color=#0000>Name = <%= data.SCIT601998023%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>True/False = <%= data.MIROT601998023%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>Number = <%= data.ID_611998005%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>Number = <%= data.ID_611998002%></font></h3>
            </div>

            <a href="/CE601998023" class="btn btn-success"> <h3>Back</h3> </a>
            <a href="/CE601998023/delete/<%= data.ID %>" class="btn btn-danger"><h3> Del</h3> </a>

            </form>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>

<%- include ('../_footer.ejs') %>
