<%- include ("../_header") %>
    <div class="container mt-6">
        <div class="row mt-5">

            <div class="col-md-12">
                <h1 align='center'><b> PLOY </b></h1>
                <% if (session.modulece601998023 == 1) { %>
                    <p align='right'><a href="/CE601998023/add" class="btn btn-success btn-lg">ADD</a></p>
                    <% } %>
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-active">


                                    <th>No</th>
                                    <th>SCIT601998023</th>
                                    <th>MIROT601998023</th>
                                    <th>ID_611998005</th>
                                    <th>ID_611998002</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% if(data){ %>
                                    <% for(var i=0; i < data.length; i++) {%>
                                        <tr>
                                            <td>
                                                <%= (i+1) %>
                                            </td>
                                            <td>
                                                <%= data[i].sSCIT601998023 %>
                                            </td>
                                            <td>
                                                <%= data[i].sMIROT601998023 %>
                                            </td>
                                            <td>
                                                <%= data[i].tSCIT611998005 %>
                                            </td>
                                            <td>
                                                <%= data[i].bSCIT611998002 %>
                                            </td>
                                            <td>
                                                <% if (session.modulece601998023 == 1) { %>
                                                    <a href="/CE601998023/del/<%= data[i].sID %>" class="btn btn-danger"> Delete </a>
                                                    <a href="/CE601998023/update/<%= data[i].sID %>" class="btn btn-info"> Update </a>
                                                    <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <% } %>
                            </tbody>
                        </table>
            </div>



        </div>
        <%- include ("../_footer") %>