<%- include ("../_header") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-7">
                            <form action="/CE601998023/update/<%= data1.ID %>" method="post">
                                <h2> แก้ไขข้อมูล </h2>
                                <div class="form-group">
                                    <a href="#">SCIT601998023-varchar</a>
                                    <input type="text" name="SCIT601998023" placeholder="SCIT601998023-varchar" value="<%= data1.SCIT601998023%>" class="form-control">
                                </div>
                                <div class="form-group">
                                    <a href="#">MIROT611998023-float</a>
                                    <input type="text" name="MIROT601998023" placeholder="MIROT601998023-float" value="<%= data1.MIROT601998023 %>" class="form-control">
                                </div>

                                <a href="#">ID_prem-int</a>
                                <select class="form-control" name="ID_prem">
                              <option value="">กรุณาเลือก</option>
                                <% if (data2) { %>
                                <% for (var i=0; i<data2.length; i++) { %>
                                <option value="<%= data2[i].ID %>"
                                <% if (data2[i].ID==data1.ID_prem) { %> selected <%  } %> >
                               <%= data2[i].SCIT611998005 %>
                               </option>
                               <%  } %>
                                  <%  } %>
                              </select>

                                <a href="#">ID_bas-int</a>
                                <select class="form-control" name="ID_bas">
                                <option value="">กรุณาเลือก</option>
                                <% if (data3) { %>
                                      <% for (var j=0; j<data3.length; j++) { %>
                                        <option value="<%= data3[j].ID %>"
                                          <% if (data3[j].ID==data1.ID_bas) { %> selected <%  } %> >
                                            <%= data3[j].SCIT611998002 %>
                                        </option>
                                    <%  } %>
                                  <%  } %>
                              </select>
                                <a href="/CE601998023" class="btn btn-danger">Back</a>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("../_footer") %>
