
<%- include ("../_header") %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <form action="/CE601998023/save/" method="post">
          <h2> เพิ่มข้อมูล </h2>
          <div class="form-group">
            <a href="#">SCIT601998023-varchar</a>
            <input type="text" name="SCIT601998023" placeholder="SCIT601998023-varchar" class="form-control">
         </div>
         <div class="form-group">
           <a href="#">MIROT601998023-float</a>
           <input type="text" name="MIROT601998023" placeholder="MIROT601998023-float" class="form-control">
        </div>
        <a href="#">ID_prem-int</a>
        <select class ='form-control' name='ID_prem'>

                          <option value=""> เลือก </option>
                          <% if(data2) { %>
                          <% for(var i=0; i<data2.length; i++){ %>
                            <option value="<%= data2[i].ID %>">
                              <%= data2[i].SCIT611998005 %>
                              </option>
                          <%}%>
                        <%}%>
                        </select>

   <a href="#">ID_bas-int</a>
   <select class ='form-control' name='ID_bas'>

                     <option value=""> เลือก </option>
                     <% if(data3) { %>
                     <% for(var i=0; i<data3.length; i++){ %>
                       <option value="<%= data3[i].ID %>">
                         <%= data3[i].SCIT611998002 %>
                         </option>
                     <%}%>
                   <%}%>
                   </select>


            <a href="/CE601998023" class="btn btn-danger">Back</a>
            <button type="submit" class="btn btn-success">Save</button>
          </form>

      </div>
    </div>
  </div>
</div>
</div>
<%- include ("../_footer") %>
