<%- include ('../../views/_header.ejs') %>

<div class="container mt-6">
    <div class="row mt-5">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/CE611998002/save" method="post">
                        <p>
                            <font color=#000000 style="font-size:50px">Add Data </font>
                        </p>
                        <div class="form-group">
                            <a>SCIT611998002 - varchar</a>
                            <input type="text" name="SCIT611998002" placeholder="SCIT611998002 - varchar" class="form-control">
                        </div>
                        <div class="form-group">
                            <a>MIROT611998002 - float</a>
                            <input type="text" name="MIROT611998002" placeholder="MIROT611998002 - float" class="form-control">
                        </div>
                        <div class="form-group">
                            <a>ID_tiew - int</a>
                            <select class='form-control' name='ID_tiew'>
                                <option value=""> เลือก </option>
                                <% if(data2) { %>
                                <% for(var i=0; i<data2.length; i++){ %>
                                <option value="<%= data2[i].ID %>">
                                    <%= data2[i].SCIT611998019 %>
                                </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group">
                            <a>ID_ploy - int</a>
                            <select class='form-control' name='ID_ploy'>
                                <option value=""> เลือก </option>
                                <% if(data3) { %>
                                <% for(var i=0; i<data3.length; i++){ %>
                                <option value="<%= data3[i].ID %>">
                                    <%= data3[i].SCIT601998023 %>
                                </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>
                        <a href="/CE611998002" class="btn btn-danger">Back</a>
                        <button type="submit" class="btn btn-success">Save Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('../../views/_footer.ejs') %>