<%- include ('../../views/_header.ejs') %>

    <div class="container mt-6">
        <div class="row mt-5">

            <div class="col-md-12">
                <h1 align='center'><b> BAS </b></h1>
                <% if (session.modulece611998002 == 1) { %>
                    <p align='right'><a href="/CE611998002/add" align="" class="btn btn-success btn-lg">ADD</a></p>
                    <% } %>
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-active">
                                    <th>No</th>
                                    <th>SCIT611998002</th>
                                    <th>MIROT611998002</th>
                                    <th>ID_611998019</th>
                                    <th>ID_601998023</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% if(data){ %>
                                    <% for (var i = 0; i < data.length; i++) { %>
                                        <tr class="table-active">
                                            <td>
                                                <%= (i+1) %>
                                            </td>
                                            <td>
                                                <%= data[i].bSCIT611998002 %>
                                            </td>
                                            <td>
                                                <%= data[i].bMIROT611998002 %>
                                            </td>
                                            <td>
                                                <%= data[i].tSCIT611998019 %>
                                            </td>
                                            <td>
                                                <%= data[i].pSCIT601998023 %>
                                            </td>
                                            <td>
                                                <% if (session.modulece611998002 == 1) { %>
                                                    <a href="/CE611998002/del/<%= data[i].bID %>" class="btn btn-danger"> DELETE </a>
                                                    <a href="/CE611998002/edit/<%= data[i].bID %>" class="btn btn-info"> UPDATE </a>
                                                    <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <% } %>
                            </tbody>
                        </table>
            </div>
            <div class="col-md-1">


                <%- include ('../../views/_footer.ejs') %>