<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Group1 </title>
    <link rel="stylesheet" href="/theam.min .css" </head>

    <body>

        <%= JSON.stringify(session) %>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <li class="nav-item active">
                                <a class="nav-link" href="/home"><span class="btn btn-success">home</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/CE601998023"><span class="btn btn-secondary">Ploy</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/CE611998005"><span class="btn btn-secondary">Prem</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/CE611998002"><span class="btn btn-secondary">Bas</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/CE611998019"><span class="btn btn-secondary">Tiew</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/user"><span class="btn btn-secondary">User</span></a>
                            </li>
                            <a class="nav-link" href="/logout"><span class="btn btn-danger">Log Out</span></a>
                </div>
            </nav>
            <% if(session.success==false){ %>
                <% for(var i=0;i<session.errors.errors.length;i++){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= session.errors.errors[i]["msg"] %>
                    </div>
                    <%   } session.success=null; } %>

                        <% if(session.success==true){ %>
                            <div class="alert alert-success" role="alert">
                                <%= session.topic %>
                            </div>
                            <%   } session.success=null;  %>