<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
</head>

<body>
  <style>
      body {
          background-image: url('1.png');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
      }

      image {
          display: block;
          margin-left: auto;
          margin-left: auto;
      }

      .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top:15%;
          margin-bottom: auto;
          width: 65%;
      }
  </style>
    <nav class=""></nav>
      <div class="container">
        <div class="row mt-5">
          <div class="col md-5">
            <div class="col-md-5">
                <form action="/login" method="post">
                    <h1> USER LOGIN </h1>
                    <fieldset>
                        <% if(session.success==false){ %>
                            <% for(var i=0;i<session.errors.errors.length;i++){ %>
                            <div class="alert alert-danger" role="alert">
                            <%= session.errors.errors[i]["msg"] %>
                            </div>
                            <%   } session.success=null; } %>

                            <% if(session.success==true){ %>
                            <div class="alert alert-danger" role="alert">
                            <%= session.topic %>
                            </div>
                            <%   } session.success=null;  %>

                        <div class="form-group">
                            <label for="exampleInputUsername">Username</label>
                            <input type="text" name="username" class="form-control" id="exampleInputUsername" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-success">SIGN IN</button>
                    </fieldset>
                </form>
            </div>
         </div>
      </div>
    </div>
  </body>
</html>
